<!DOCTYPE html>
<html>
<head>
  <title>Sample Application Layout</title>
</head>
<body>
  <%- body %>
  <p id="from_content_for_string_1"><%=yieldFor('blockString1')%></p>
  <p id="from_content_for_string_2"><%=yieldFor('blockString2')%></p>
  <%- yieldFor('blockTemplate1')%>
</body>
</html>

